<div id="wrapper">
    <button id="start" class="thoughtbot">start</button>
    <button id="stop" class="thoughtbot">stop</button>
    <button id="reset" class="thoughtbot">resume</button>
    <br> <br>
    <div id="count"></div>
</div>