
<div id="wrapper">
<br>
    <button id="start" class="thoughtbot">start</button>
    <button id="stop" class="thoughtbot">play/stop</button>
    <button id="reset" class="thoughtbot">resume</button>
    <br> <br>
    <div id="count"></div>
</div>